<header>
  <div class="content">
    <div class="title">
      <img src="assets/logo/logo-flag.png" alt="logo" class="logo-flag">
      <img src="assets/logo/logo-title.png" alt="logo" class="logo-title">
    </div>
    <div class="buttons">
      <button class="nav-btn">Spaces</button>
      <button class="nav-btn">Tasks</button>
      <button class="nav-btn">Community</button>
    </div>
    <div class="profile-info">
      <div class="user-name"></div>
      <div class="user-icon">

      </div>
    </div>
  </div>
</header>
