.home {
  height: 100vh;
  background-color: var(--secondary2);
  width: 100%;
}

.content {
  height: 90%;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  width: 70%;
  background-color: var(--secondary1);
}
